body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: gray;
}

.images-container {
  display: flex;
  flex-wrap: wrap; /* Allow images to wrap on smaller screens */
  justify-content: center; /* Center images horizontally */
  gap: 10px; /* Add spacing between items */
  margin: 20px 0;
}

.image-item {
  text-align: center;
  margin: 0 10px;
}

.game-image {
  width: 130px;
  height: 130px;
}

.active {
  box-shadow: 90px;
}

p {
  font-size: 1.2em;
  margin: 5px 0 0;
}

.title {
  font-size: 50px;
}

.scoreClass {
  font-size: 6vw;
}

@media (min-width: 784px) {
  .game-image {
    width: 15vw;
    height: 15vw;
  }
}